thead tr th {
  text-align: center;
}

tbody tr td {
  border: 1px solid #ddd;
  vertical-align: middle;
  text-transform: capitalize;
}

tbody tr td:nth-child(4) {
  text-transform: lowercase !important;
}

tbody tr td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#signal_user_photo {
  width: 100%;
  border: 1px solid #727272;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

.location_search {
  width: auto;
  padding: 2px;
  outline: auto;
}

td#view_data {
  text-align: center;
}

#view_data img {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
}

.title {
  font-weight: bold;
  width: 30%;
}
#email {
  text-transform: lowercase;
}

#viewSignalStudentData {
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
  color: #ff00d4;
}
